

.oswald-normal{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;  
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 150px; */
}

.name{
    font-size: 28;
    font-weight: 800 ;
}

nav ul li{
    list-style: none;
}

.head{
    background-image: url(/assets/Hero-bg.png);
    
}    

.button-color{
    color: rgb(13, 19, 33) ;
    border-radius: 8px;    
    padding: 17px 24px ;    
    font-weight: 700;
}
.img{
    width: 240px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
}

.banner-content-header{
    font-weight: 800px  ;
    color: rgb(13, 19, 33) ;
    text-align: center;
}

.Banner-description{
    font-weight: 400;
    text-align: center;
  }

  .btn-c{
    background-color: black;
    color: white ;
    font-weight: 700;
    padding:  21px 24px;
    border-radius: 8px;
    margin: 0;
    position: absolute;    
        
  }
  .Inspiration{
    text-align: center;
  }
  .start{
    text-align: center;
  }
  .Target-head{
    text-align: center;
  }
  .terget-descreption{
    text-align: center;

  }
  .three-language{
    display: flex;
    gap: 24px;
  }
  .language01{
    padding: 40px;
    background-color: rgba(255, 75, 30, 0.08);    
    width: 364px;
  }
  .language02{
    padding: 40px;
    width: 364px;
    background-color: rgba(0, 77, 232, 0.05);
  }
  .language03{
    padding: 40px;
    width: 364px;
    background-color: rgba(255, 221, 0, 0.05);
  }
  .next-Target{
    text-align: center
  }
  .next-code{
    gap: 24px;
  }
  

  .monogo{
    display: flex;
    width: 1140px;
    padding: 3px;
   
  }
  .react{
    display: flex;
    width: 1140px;
  }
  .nodejs{
    display: flex;
    width: 1140px;
  }
  .Support{      
    background-image: url(/assets/handshake.jpg);
    width: 1140px;
    background-repeat: no-repeat;
    background-attachment: fixed ;
        
  }
  .support-section{
    text-align: center;
  }
  .last{
    display:flex;
    background-color: rgba(255, 221, 0, 0.05);
    padding: 32px;
    gap: 700px ;
    text-align: center;
  
  }
   
  .my-web{
    background-color: rgba(13,19,33, 0.02);
    padding: 97px 80px;
  }
  .one{
    display:flex;
  }
  .line1{
    background-color: #FFFFFF ;   
    padding: 48px , 48px ;
    border: #FFFFFF;
    border-radius: 16;
    
    }

    .line2{
      background-color: #FFFFFF ;
      border-radius: 16;
      padding: 48px , 48px;
      gap: 32px;
      }

      .line3{
        background-color: #FFFFFF ;
        border-radius: 16;
        padding: 58px , 48px ;
        gap: 32px;

        }
    
    
    
      

  